<div class="landing-center-div">
  <div class="jumbotron">
    <div class="container">
      <h2>Welcome to Cousin Gift Exchange!</h2>
      <p class="jumbo-text">Bringing cousins together to exchange gifts at Grandma's on Christmas :) &nbsp; See how it works in the screenshots below. </p>
    </div>
  </div>

  <div calss="container" id="landing-body">
    <div class="col-sm-6">
      <p>Since all cousins seem to have smart phones these days, this app is mobile first.</p>
      <p>Screenshots are from tests and don't show the real results of this year's drawing.</p>
      <p>This is the page they land on after clicking the link in their email:</p>
      <%= image_tag('gift-form.png') %>
      <p>After filling out the form, cousins can now see who's participating ..looks like Aunt Jennifer's joining in this year!</p>
      <%= image_tag('gift-participants.png') %>
    </div>
    <div class="col-sm-6">
      <%= image_tag('icon-add.png') %>
      <p>At that point they probably start clicking around, and maybe bookmark the app to their homescreen.</p>
    </div>
    <div class="col-sm-6">
      <%= image_tag('gift-results.png') %>
      <p>A few days later, results of the 'drawing' are announced and cousins can easily see who they "drew" as well as that person's current interests to help with gift ideas.</p>
    </div>
  </div>
  <div id="admin-sign-in">
    <div class="container">
      <p><b>For <%= link_to "admin", signup_path %> use only.</b></p>

      <%= form_for(:session, :url => sessions_path) do |f| %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %><br>
        <br>
        <%= f.submit "Sign in" %>
      <% end %>
  </div>
</div>
