<!DOCTYPE html>
<html>
<head>
  <title>Gift Exchange</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tag %>
  <link href='http://fonts.googleapis.com/css?family=Volkhov' rel='stylesheet' type='text/css'>
  <!-- Hide Safari on iPhone -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <!-- 16x16 favicon -->
  <%= favicon_link_tag('favicon.ico') %>
  <!-- Apple homescreen icons -->
  <%= favicon_link_tag('favicon-57.png', rel: 'apple-touch-icon', type: 'image/png',  sizes: "57x57") %>
  <%= favicon_link_tag('favicon-72.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "72x72") %>
  <%= favicon_link_tag('favicon-114.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "114x114") %>
  <%= favicon_link_tag('favicon-144.png', rel: 'apple-touch-icon', type: 'image/png', sizes: "144x144") %>

</head>



<header class="navbar navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.png'), '/' %>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "Who's in", participants_path %>
        </li>
        <li>
            <%= link_to "Drawing Results", hats_path %>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#" data-toggle="modal" data-target="#myModal">About</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<body>
<div id="wrap">
  <div id="main" class="container clear-top">
    <%= yield %>
  </div>
</div>

<footer class="footer">
  <p>© Cousin Gift Exchange<p>
</footer>
 <%= render 'layouts/about-modal' %>
</body>
</html>
